.search{
    height:40px;
    text-align: center;
    border: 3px solid black;
    max-width: 34rem;    
}
.main__Div{
    text-align: center;
    align-items: center;
    background-color: #F0F0F0;
    
}
ul{
    display: inline-block;
    padding: 0px;
}
li{
    
    background-color:#fafafa;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:24px;
    box-shadow:0 5px 50px rgba(32,35,41,.15)
}
p{margin:24px 0 24px 24px;width:calc(100% - 120px);font-size:18px;line-height:24px;font-weight:400}.TodoItem-p--complete{text-decoration:line-through
}


.Icon-container{
    cursor:pointer;
    justify-content:center;
    align-items:center;
    height:48px;
    width:48px;
    font-size:24px;
    font-weight:700
}
.Icon-container-check{
    position:absolute;
    left:12px
}
.Icon-container-check--active{
    color:#4caf50
}
.Icon-container-delete{
    position:absolute;
    top:-24px;
    right:0
}
.Icon-container-delete:hover{
    color:red
}
.Icon-svg{
    width:24px;
    height:24px
}
.Icon-container-check:hover .Icon-svg{
    fill:green
}
.Icon-container-delete:hover .Icon-svg{
    fill:red
}